
#contenitore-logo {
    background-image: url(./img/pattern.png);
    background-color: aqua;
    background-repeat:repeat;
}

#logo-booleaners {
    width:20%; 
    padding-bottom: 10px;
    padding-top: 30px;
}