
#contenitore_logo {
    background-image: url(./img/pattern.png);
    background-color: #4ea0ff;
    background-repeat:repeat;
    background-size: 39%; 
}

#logo_booleaners {
    width:20%; 
    padding-bottom: 10px;
    padding-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

*{
    margin:0;
    box-sizing: border-box;
}

.titolo_header {
    font-size:55px;
}

.sottotitolo_header {
    font-size: 25px; color: grey;
    display:inline-block;
}

.booleaner_blu {
    font-size: 25px; color: #4ea0ff;
    display:inline-block;
}

.data_header {
    font-size: 15px; color: grey;
    padding-bottom: 25px;
}

.padding{
    padding-bottom: 25px;
}

main {
    font-size: 22px;
}

.margin {
    margin-left: 10px;
    margin-right: 10px;
}

ul{
    padding-inline-start: 20px;
}

.titles_table{
    background-color: #44b7fa;
    color: white;
}

table{
    border-spacing: 0;
}

.large{
    width: 50%;
}

.content_table{
    background-color: #a4effa;
}

.content_table_1{
    background-color: white;
}

.titolo_footer{
    color: grey;
    padding-bottom: 20px;
}

.monitor{
    background-image: url(./img/monitor.jpg);
}

.graph{
    background-image: url(./img/graph.jpg);
}

.monitor, .graph{
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
    color: white;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}