
#contenitore-logo {
    background-image: url(./img/pattern.png);
    background-color: #4ea0ff;
    background-repeat:repeat; 
}

#logo-booleaners {
    width:20%; 
    padding-bottom: 10px;
    padding-top: 60px;
}

*{
    margin: 0%;
}